In [1]:
##########################################
# Asset pricing                          #
# Wu Jiaying                             #
# Date: Sep. 2023                        #
# Updated: Sept. 28th 2024               #
##########################################

from AP import AP_table
import pandas as pd

In [2]:
# Load Compustat and CRSP
AP=AP_table(data_path='',time_range=['20000101','20221231'],portfolio_month=6)

AP.Compustat(file='WRDS/Compustat_2000_2022.csv')

crsp_monthly=AP.CRSP(file_var='WRDS/CRSP_Monthly_2000_2022.csv',file_name='WRDS/NAME.csv',file_dl='WRDS/Delisted Stocks.csv')

ccm_month_win=AP.CCM(file='WRDS/CCM_CRSP_Link_Table_CRSP.csv')

factors=AP.F_F_Factors(file_FF5='F_F/F-F_5_Factors_monthly.csv',file_MOM='F_F/F-F_Momentum_monthly.CSV')

e:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
e:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
e:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
e:\Anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

The percentage of error observations: 0.67 %

### Univariate Sorting

Since we only have Compustat and CRSP data here, I will demonstrate using the variables from these datasets.

For example:
- Variable: ln_market_value
- Time period: [2000, 2020]	
- Quantile group: [[0, 0.3, 0.7, 1], ['L', 'M', 'H']]

In [6]:
tab1=AP.Table1(future_return=1,sample_window=[2000, 2020],Table_Kind='Alpha',sort_var=['Market_size','ln_market_value'],\
                  q_t='Quantile',q_df='Self',sort_q_l=[[0, 0.3, 0.7, 1], ['L', 'M', 'H']],maxlags=10)

In [7]:
tab1[0]

Portfolio_Group                  L                  M                  H  \
Excess Return ew  1.551(**)(0.666)  1.197(***)(0.454)  1.052(***)(0.348)
              vw  1.174(**)(0.568)    1.103(***)(0.4)  0.875(***)(0.295)
CAMP alpha    ew  1.219(**)(0.592)   1.052(**)(0.439)   0.945(**)(0.375)
              vw   0.885(*)(0.519)   0.981(**)(0.397)   0.822(**)(0.337)
FFC alpha     ew  1.259(**)(0.572)    1.07(**)(0.459)   0.968(**)(0.392)
              vw   0.916(*)(0.518)    0.995(**)(0.42)    0.835(**)(0.35)
FF5 alpha     ew  1.336(**)(0.547)   1.144(**)(0.466)  1.009(***)(0.367)
              vw  1.014(**)(0.488)   1.057(**)(0.421)  0.829(***)(0.308)

Portfolio_Group               H_L
Excess Return ew   -0.597()(0.38)
              vw  -0.397()(0.337)
CAMP alpha    ew  -0.374()(0.338)
              vw  -0.163()(0.281)
FFC alpha     ew  -0.392()(0.293)
              vw  -0.182()(0.258)
FF5 alpha     ew  -0.429()(0.297)
              vw  -0.288()(0.267)

In [8]:
tab1[1]

Market_size                 L            M             H
Firm Number       1075.171053  1447.232456   1071.456140
ln_market_value     10.693546    13.064502     15.598902
Market value         0.073619     0.703573     16.754103
Book-to-market       1.102336     0.657633      0.500603
OP                   6.317293    91.816881   2290.159732
ROA                 -0.191080    -0.033245      0.052789
ROA_fp              -0.148117     0.007750      0.091203
PPET                37.437875   241.657474   3897.920853
PPET/at              0.172427     0.200237      0.250537
Book_to_market_2     0.883159     0.561630      0.433677
OP/at               -0.013277     0.129009      0.192046
ln_Assets            4.506229     6.340190      8.647823
ln_PPE/Employees     3.478838     3.856726      4.405643
RD/Assets           -0.001829    -0.001686     -0.000826
Sales_growth         0.713375     0.726108      0.745422
Cash/Assets          0.174921     0.143975      0.098756
sale               124.718017   768.473169  10078.588671
salepfc            285.832697  1174.150259  10745.588336
salepfp            283.300806  1135.169405   9556.730819
TobinQ               1.695228     2.006355      3.308884
RD/Sales            -0.180455    -0.067653     -0.005074
ln_Makeup           -0.465003    -0.594437     -0.672492
ROA_ai              -0.196270    -0.019252      0.070464
Market_leverage      1.368887     0.656243      0.510386
HR                  -0.008711     0.059334      0.053857
emp                  0.713511     3.895407     27.898036
ln_firm_age          4.402441     4.451567      4.600979
firm_age           100.179402   105.793176    119.680712

### Bivariate Sorting

Double sorting on "Book-to-market"

In [14]:
tab2=AP.Table2(future_return=1,sample_window=[2000, 2020],\
            sort_var=['Market_size','ln_market_value'],q_t='Quantile',q_df='Self',sort_q_l=[[0, 0.3, 0.7, 1], ['L', 'M', 'H']],maxlags=20,\
                        second_sort_list=[['Book-to-market_port','beme']],\
                        second_sort_q_t_df=[['Quantile','Self']],\
                        second_sort_q_l=[[[0, 0.3, 0.7, 1], ['L', 'M', 'H']]])

In [15]:
tab2[0]

Kind                        H-L: ew                                       \
Form                  Excess Return        CAMP alpha          FFC alpha
Book-to-market L     -0.18()(0.456)   -0.031()(0.433)     -0.023()(0.39)
               H  -0.842(**)(0.354)  -0.633(*)(0.328)  -0.626(**)(0.294)

Kind                                          H-L: vw                   \
Form                      FF5 alpha     Excess Return       CAMP alpha
Book-to-market L    -0.082()(0.412)   -0.034()(0.432)    0.19()(0.389)
               H  -0.695(**)(0.283)  -0.509(*)(0.289)  -0.332()(0.248)

Kind
Form                    FFC alpha          FF5 alpha
Book-to-market L   0.199()(0.366)     0.066()(0.383)
               H  -0.332()(0.223)  -0.448(**)(0.216)

In [16]:
tab2[1]

Averaged Firm Number Book-to-market_port
                                       L           M           H
Market_size
L                             204.942982  366.609649  443.736842
M                             446.135965  675.315789  274.179825
H                             495.890351  425.346491  125.526316

### Fama-MacBeth Regression

In [3]:
## Fama-MacBeth ###
# Add new control variables
jp_new=AP.control()
# Shift y_lag month of excess return as y variables.
jp_table3=AP.Table3(y_lag=[1,2,3,6,9,12])

control_var=['ln_Assets','ln_firm_age','ln_PPE/Employees','RD/Assets',\
                'ROA','beme','Cash/Assets','Beta5Y_monthly','Momentum_monthly','Stock_volatility']

In [4]:
AP.FamaMacBeth(time_series=['2010'+'0731','2021'+'0630'],\
                         x=['ln_market_value'],control=control_var)

,(1),(2),(3),(4),(5),(6),(7)
,exret_t+1,exret_t+1,exret_t+2,exret_t+3,exret_t+6,exret_t+9,exret_t+12
ln_market_value,0.115,0.159,0.145,0.118,-0.031,-0.067,-0.095
,(1.52),(1.37),(1.20),(0.97),(-0.27),(-0.58),(-0.83)
ln_Assets,,-0.216***,-0.199**,-0.185**,-0.026,0.004,0.040
,,(-2.60),(-2.28),(-2.02),(-0.32),(0.05),(0.45)
ln_firm_age,,0.062,0.097,0.096,0.176*,0.149,0.143
,,(0.71),(1.14),(1.15),(1.83),(1.52),(1.37)
ln_PPE/Employees,,-0.090,-0.106*,-0.114*,-0.138**,-0.102,-0.098
,,(-1.56),(-1.84),(-1.94),(-2.24),(-1.46),(-1.45)
RD/Assets,,-2.307,-1.007,2.835,4.339,0.947,-1.204
,,(-0.70),(-0.30),(0.69),(1.05),(0.19),(-0.26)
ROA,,0.027,0.129,0.299,0.627*,0.465,0.622**
,,(0.08),(0.39),(0.97),(1.95),(1.49),(2.20)
Book-to-market,,0.005,0.003,0.002,-0.002,-0.002,-0.005
,,(1.59),(0.99),(0.68),(-0.71),(-0.50),(-1.54)
Cash/Assets,,-1.007***,-0.833**,-0.767**,-0.300,-0.403,-0.506
,,(-2.98),(-2.38),(-2.10),(-0.82),(-1.03),(-1.18)
Beta5Y_monthly,,-0.037,0.006,0.120,-0.060,-0.035,-0.079
,,(-0.15),(0.03),(0.47),(-0.43),(-0.25),(-0.60)
Momentum_monthly,,0.030***,0.023***,0.015***,-0.001,-0.000,-0.001
,,(5.47),(4.91),(4.13),(-0.78),(-0.24),(-0.73)
Stock_volatility,,-0.005,-0.003,-0.007,-0.004,-0.011,-0.008
,,(-0.57),(-0.44),(-0.87),(-0.46),(-1.25),(-0.86)
Intercept,-0.370,0.532,0.574,0.753,1.583,1.799,1.898
,(-0.26),(0.38),(0.40),(0.51),(1.07),(1.23),(1.29)
No. Obs.,604044,417871,416423,414824,409034,402805,396703
Adj. R²,0.82%,7.91%,7.00%,5.83%,3.71%,3.67%,3.78%